<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="updareResultsAndGoBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Dettaglio Partita
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <section *ngIf="partita">
        <h3 style="text-align: center;">Partita del {{partita.start_date.toMillis() | date:'dd/MM/yyyy'}}</h3>

        <ion-segment (ionChange)="turnoChanged($event)" value="{{selectedTurno.numero}}" scrollable="true" >
            <ion-segment-button *ngFor="let turno of partita.turni" value="{{turno.numero}}" id="segment-{{turno.numero}}">
              <ion-label>Turno {{turno.numero + 1}}</ion-label>
            </ion-segment-button>
          </ion-segment>

        <ion-list>
            <ion-item *ngFor="let giocatore of selectedTurno.giocatori">
                <ion-avatar slot="start">
                    <img src="{{giocatore.imageUrl}}" />
                </ion-avatar>
                <ion-label>
                    <h2>{{giocatore.nickname}}</h2>
                    <p>{{giocatore.description}}</p> 
                </ion-label>
                <ion-label class="points">
                    <ion-button slot="start" color="danger" (click)="points('rm', giocatore)" *ngIf="selectedTurno.numero + 1 == partita.turni.length">
                        <ion-icon name="remove"></ion-icon>
                    </ion-button>
                    <ion-badge  [color]="getPointsColor(giocatore.points)">{{giocatore.points}}</ion-badge>
                    <ion-button slot="end" color="success" (click)="points('add', giocatore)" *ngIf="selectedTurno.numero + 1 == partita.turni.length">
                        <ion-icon name="add"></ion-icon>
                    </ion-button>
                </ion-label>
            </ion-item>
        </ion-list>

        <ion-button shape="block" class="next" (click)="nextTurno()" [disabled]="selectedTurno.numero + 1 != partita.turni.length">Neeext</ion-button>
    </section>
</ion-content>