.points {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.next {
    margin-top: 15px;
}

.border {
    border: 1px solid;
    border-radius: 30%;
    border-spacing: 10px;
    border-spacing: 15px;
}

ion-input {
    width: auto;
}