<ion-header>
    <ion-toolbar>
        <ion-title>Nuova Partita</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="nuovaPartitaForm" (ngSubmit)="creaPartita()">
        <div class="input-group">
                <!-- <ion-item *ngFor="let giocatore of allPlayers">
                    <ion-label>{{giocatore.nickname}}</ion-label>
                    <ion-checkbox slot="end" (ionChange)="onSelectionChange($event)"></ion-checkbox>
                </ion-item> -->

                <ion-item style="margin: 0.5rem 0 0.5rem 0;">
                    <ion-label>Giocatori</ion-label>
                    <ion-select  multiple="true"  formControlName="giocatori" name="giocatori">
                      <ion-select-option *ngFor="let giocatore of allPlayers" [value]="giocatore">{{giocatore.nickname}}</ion-select-option>
                    </ion-select>
                  </ion-item>
        </div>

        <ion-button type="submit" expand="block" [disabled]="!nuovaPartitaForm.valid">Crea Partita</ion-button>
    </form>

</ion-content>