<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button type="button" (click)="logout()">
        <ion-icon name="log-out-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Partita
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h3>Partita in corso</h3>
  <span *ngIf="!partita">Non ci sono partite in corso</span>
  <ion-list *ngIf="partita" lines="inset">
    <!-- <span>Partita del {{partita.start_date.toMillis() | date:'dd/MM/yyyy'}}</span> -->

    <ion-list-header>
      <!-- <ion-label>Recent</ion-label> -->
      <!-- <ion-button>Clear</ion-button> -->
      <ion-grid>
        <ion-row>
          <ion-col class="ion-align-self-center" style="text-align: center;">
            <ion-label>
              <h2>Partita del {{partita.start_date.toMillis() | date:'dd/MM/yyyy'}}</h2>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-align-self-start">
            <p>Gioco: <b>{{partita.gameMode.description}}</b></p>
          </ion-col>
          <ion-col style="text-align: right;">
            <p *ngIf="partita.gameMode.point_selection">Punti: {{partita.possible_points}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-list-header>

    <ion-item *ngFor="let giocatore of partita.giocatori | orderBy:'desc':'points'">
      <ion-avatar slot="start">
        <img src="{{giocatore.imageUrl}}" />
      </ion-avatar>
      <ion-label>
        <h2>{{giocatore.nickname}}</h2>
        <p>{{giocatore.description}}</p>
      </ion-label>
      <ion-badge slot="end" [color]="getPointsColor(giocatore.points)">{{giocatore.points}}</ion-badge>
    </ion-item>

    <ion-footer class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button color="danger" style="margin-left: 0.7rem;" (click)="chiudiPartita()">
            <ion-icon slot="start" name="close"></ion-icon>
            <!-- Chiudi -->
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button color="primary" style="margin-right: 0.7rem;" [routerLink]="['partita', partita.id]">
            <!-- Dettaglio -->
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-title></ion-title>
      </ion-toolbar>
    </ion-footer>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary" (click)="creaNuovaPartita()" [disabled]="createNewGame">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>