ion-card {
    width: 100%;
}

h3 {
    width: 100%;
    text-align: center;
}

span {
   display: flex;
   justify-content: center;
}

table {
    width: 100%;
}

.d-flex {
    display: flex;
}

.jc-space-around {
    justify-content: space-around;
}