<ion-card>
  <ion-card-header style="text-align: center;">
    Partite Giocate: {{totalMatches}}
  </ion-card-header>
  <ion-card-content>
    <canvas #doughnutCanvas style="position: relative; height:20vh; width:40vw"></canvas>
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-header style="text-align: center;">
    Punti Giocatore
  </ion-card-header>
  <ion-card-content>
    <canvas #barCanvas style="position: relative; height:20vh; width:40vw"></canvas>
  </ion-card-content>
</ion-card>